*{
    font-family: Roboto,'Helvetica Neue', sans-serif;
}
/* set width to the whole screen and make items extend to end of viewport. */
html, body{
    width: 100%;
    margin: 0;
    padding: 0;
}

/* hero text and header block */
.hero-header{
    background-color: #1f2937;
    padding: 8px 10% 5% 10%;
}
/* header */
.header{
    display: flex;
    align-items: center;
    margin-bottom: 8%;
}
/* header logo text */
.logo{
    font-size: 24px;
    color: #f9faf8;
}
/* header links */
.link-list{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 32px;
    margin-left: auto;
}

.link{
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
}

/* hero section */
.hero-section{
    display: flex;
    gap: 10%;
    align-items: center;
}
.hero-left{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 50%;
    gap: 8px;
}

.hero-text{
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
    
}

.hero-subtext{
    font-size: 18px;
    color: #e5e7eb;
}

.hero-image{
    width: 50%;
}

.sign-up{
    background-color: #3882f6;
    border-color: #3882f6;
    border-radius: 8px;
    border-style: none;
    flex: 0 0 36px;
    color: #f9faf8;
    font-weight: bolder;
    width: 20%;
    font-size: 18px;

}

/* Random information section */

.random-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    margin: 64px 0 128px 0;
}
.info-title{
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
}

.info-blocks{
    display: flex;
    text-align: center;
    gap: 64px;
}

.info-img{
    width: 200px;
    border: 5px solid #3882f6;
    border-radius: 8px;
}

/* quote section */

.quote-section{
    display: flex;
    flex-direction: column;
    background-color: #e5e7eb;
    justify-content: center;
    padding: 10% 25%;
    
}

.quote{
    font-size: 36px;
    font-style: italic;
    font-weight: 100;
    color: #1f2937;
    margin: 0;
    align-self: center;
}

.author{
    font-size: 24px;
    align-self: flex-end;
    margin: 0;
    font-weight: bolder;
}

/* call to action */
.call-action{
    display: flex;
    background-color: #3882f6;
    align-items: center;
    justify-content: space-around;
    margin: 4% 25%;
    padding: 2%;
    border-radius: 8px;

}

.call-left{
    display: flex;
    flex-direction: column;
}

.call-title{
    font-size: 24px;
    font-weight: bolder;
    color: #f9faf8;

}

.call-subtext{
    color: #e5e7eb;
}

.call-button{
    border-color: #f9faf8;
    border-style: solid;
    flex: 0 0 128px;
    padding: 4px 0;
}

/* footer */

.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2%;
    background-color:#1f2937;
    color: #f9faf8;
}